apiVersion: v1
kind: Service
metadata:
  name: vop-router
  labels:
    app: vop-router
    component: router
spec:
  type: LoadBalancer
  selector:
    app: vop-router
  ports:
  - name: https
    port: 443
    targetPort: 3000
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
---
apiVersion: v1
kind: Service
metadata:
  name: vop-router-internal
  labels:
    app: vop-router
    component: router
spec:
  type: ClusterIP
  selector:
    app: vop-router
  ports:
  - name: https
    port: 3000
    targetPort: 3000
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
